---
apiVersion: ctlptl.dev/v1alpha1
kind: Cluster
name: k3d-grafana-agent
product: k3d
k3d:
  v1alpha5Simple:
    metadata:
      name: k3d-grafana-agent
    servers: 1
    agents: 0
    registries:
      use:
        - k3d-grafana-agent-registry:5005
      config: |
        mirrors:
          "localhost:5005":
            endpoint:
              - http://k3d-grafana-agent-registry:5000
    ports:
      # Grafana UI
      - port: 3000:30000
        nodeFilters:
          - server:0
      # Prometheus UI
      - port: 9090:30090
        nodeFilters:
          - server:0
      # Demo Service
      - port: 8082:30082
        nodeFilters:
          - server:0
      # Grafana Agent API
      - port: 8080:30080
        nodeFilters:
          - server:0
